<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mercado Liebre</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;900&family=Roboto:wght@300;500;700&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/fc0f4b4206.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <header class="header-container">
      <div class="header-box">
        <div class="header-top-bar">
          <div class="header-first-row">
            <img
              src="/images/logo-mercado-liebre.svg"
              alt="Logo"
              class="logo"
            />
            <div class="header-search">
              <form action="">
                <input
                  type="text"
                  placeholder="Buscar productos, marcas y más"
                />
              </form>
              <a href=""><i class="fa-solid fa-magnifying-glass"></i></a>
            </div>
          </div>
          <h2 class="copy-header">
            <i class="fa-solid fa-hand-holding-dollar"></i>
            Comprá en cuotas y sin tarjeta de crédito
          </h2>
        </div>
        <a href="#" class="menu-burger">
          <i class="fas fa-bars"></i>
        </a>
        <nav class="header-navbar">
          <ul class="left-navbar">
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
          </ul>
          <ul class="right-navbar">
            <li>
              <a href="register"
                >Creá tu cuenta <i class="fa-regular fa-id-card"></i
              ></a>
            </li>
            <li>
              <a href="login"
                >Ingresá <i class="fa-solid fa-right-to-bracket"></i
              ></a>
            </li>
            <li>
              <a href="#"
                >Mis compras <i class="fa-solid fa-basket-shopping"></i
              ></a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="imagen-banner"></div>
    </header>
    <main>
      <section class="main-articles">
        <h2>Basado en tu última visita</h2>
        <div class="articles">
          <article>
            <div class="img-container">
              <img
                src="/images/img-cafetera-moulinex.jpg"
                alt="Cafetera Moulinex"
              />
            </div>
            <div class="product-info">
              <div class="truck">
                <i class="fa-solid fa-truck-fast"></i>
              </div>
              <div class="price-discount">
                <p class="price">$6.770</p>
                <p class="discount">40% OFF</p>
              </div>
              <p class="description">Cafetera Moulinex</p>
            </div>
          </article>
          <article>
            <div class="img-container">
              <img
                src="/images/img-macbook-pro-2019.jpg"
                alt="MacBook Pro 2019"
              />
            </div>
            <div class="product-info">
              <i class="fa-solid fa-truck-fast"></i>
              <div class="price-discount">
                <p class="price">$230.000</p>
                <p class="discount">20% OFF</p>
              </div>
              <p class="description">MacBook Pro 2019</p>
            </div>
          </article>
          <article>
            <div class="img-container">
              <img
                src="/images/img-samsung-galaxy-s10.jpg"
                alt="Samsung Galaxy S10"
              />
            </div>
            <div class="product-info">
              <i class="fa-solid fa-truck-fast"></i>
              <div class="price-discount">
                <p class="price">$70.500</p>
                <p class="discount">10% OFF</p>
              </div>
              <p class="description">Samsung Galaxy S10</p>
            </div>
          </article>
          <article>
            <div class="img-container">
              <img
                src="/images/img-tv-samsung-smart.jpg"
                alt="SmartTv Samsung 43'"
              />
            </div>
            <div class="product-info">
              <i class="fa-solid fa-truck-fast"></i>
              <div class="price-discount">
                <p class="price">$23.200</p>
                <p class="discount">5% OFF</p>
              </div>
              <p class="description">SmartTv Samsung 43"</p>
            </div>
          </article>
        </div>
      </section>
      <section class="main-ofertas">
        <h2>Ofertas</h2>
        <div class="articles">
          <article>
            <div class="img-container">
              <img
                src="/images/img-cafetera-moulinex.jpg"
                alt="Cafetera Moulinex"
              />
            </div>
            <div class="product-info">
              <i class="fa-solid fa-truck-fast"></i>
              <div class="price-discount">
                <p class="price">$6.770</p>
                <p class="discount">40% OFF</p>
              </div>
              <p class="description">Cafetera Moulinex</p>
            </div>
          </article>
          <article>
            <div class="img-container">
              <img
                src="/images/img-macbook-pro-2019.jpg"
                alt="MacBook Pro 2019"
              />
            </div>
            <div class="product-info">
              <i class="fa-solid fa-truck-fast"></i>
              <div class="price-discount">
                <p class="price">$230.000</p>
                <p class="discount">20% OFF</p>
              </div>
              <p class="description">MacBook Pro 2019</p>
            </div>
          </article>
          <article>
            <div class="img-container">
              <img
                src="/images/img-samsung-galaxy-s10.jpg"
                alt="Samsung Galaxy S10"
              />
            </div>
            <div class="product-info">
              <i class="fa-solid fa-truck-fast"></i>
              <div class="price-discount">
                <p class="price">$70.500</p>
                <p class="discount">10% OFF</p>
              </div>
              <p class="description">Samsung Galaxy S10</p>
            </div>
          </article>
          <article>
            <div class="img-container">
              <img
                src="/images/img-tv-samsung-smart.jpg"
                alt="SmartTv Samsung 43'"
              />
            </div>
            <div class="product-info">
              <i class="fa-solid fa-truck-fast"></i>
              <div class="price-discount">
                <p class="price">$23.200</p>
                <p class="discount">5% OFF</p>
              </div>
              <p class="description">SmartTv Samsung 43"</p>
            </div>
          </article>
        </div>
      </section>
    </main>
    <footer>
      <div>
        <article>
          <i class="fa-solid fa-credit-card fa-xl"></i>
          <h3>Pagá con tarjeta o en efectivo</h3>
          <p>
            Con MercadoLiebreCash tenés cuotas sin interés con tarejta o
            efectivo en puntos de pago. ¡Y siempre es seguro!
          </p>
        </article>
        <article>
          <i class="fa-solid fa-gift fa-xl"></i>
          <h3>Envío gratis desde los $2.500</h3>
          <p>
            Solo por estar registrado en Mercado Liebre tenés envios gratis en
            miles de productos. Es un beneficio de Mercado Puntos.
          </p>
        </article>
        <article>
          <i class="fa-solid fa-user-shield fa-xl"></i>
          <h3>Seguridad de principio a fin</h3>
          <p>
            ¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas
            hacer porque estás siempre protegid@
          </p>
        </article>
      </div>
      <section class="info-legal-container">
        <p class="info-legal">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
      </section>
    </footer>
  </body>
</html>
