* {
  font-family: "Roboto";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #eac926;
}

.header-box {
  margin: 20px 20px 0 20px;
  padding-bottom: 20px;
}

.header-first-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logo {
  width: 50%;
}

.header-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffff;
  border-radius: 10px;
  padding-left: 3px;
  padding-right: 3px;
  margin-left: 10px;
}
.header-search input {
  height: 50px;
  border-radius: 12px;
  outline: none;
  border: none;
  width: 100%;
}

.header-search a {
  color: #111;
  background-color: white;
  border: 1px solid #ebebeb;
  height: 100%;
  font-size: 150%;
  outline: none;
}
h2 {
  font-size: 24px;
  font-weight: bolder;
  margin: auto;
}

.copy-header {
  font-weight: 400;
  text-align: center;
  margin: 10px;
}

.header-navbar {
  display: none;
}

.header-navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-navbar a {
  text-decoration: none;
  color: #222222;
  display: inline-block;
  padding: 5px 0;
  font-size: 17px;
}

.imagen-banner {
  width: 100%;
  height: 30vh;
  background-image: url(/images/img-home-banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.menu-burger {
  display: block;
  background-color: #1259c3;
  color: #ffff;
  max-width: 50px;
  text-align: center;
  padding: 15px 0;
  border-radius: 8px;
  font-size: 18px;
  margin: auto;
}

main {
  width: 100vw;
  background-color: #ebebeb;
  margin: auto;
}

.main-articles h2,
.main-ofertas h2 {
  color: #666;
  margin: 20px;
}

.main-ofertas {
  padding-bottom: 50px;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.articles {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.articles article {
  margin: 10px;
  background-color: #ffff;
  width: 100%;
  padding: 2px;
}

.img-container {
  border-bottom: 1px solid #ebebeb;
}

.img-container img {
  width: 90%;
  display: block;
  margin: auto;
}

.product-info {
  padding: 4%;
  width: 100%;
}

.product-info p {
  font-weight: lighter;
}

.product-info i {
  color: #39b54a;
}

.product-info .description {
  color: #666;
  margin-top: 5%;
}

.product-info .discount {
  color: #39b54a;
}
.discount,
.description {
  font-size: 16px;
}

.price {
  font-size: 18px;
}

footer {
  width: 100vw;
  background-color: #ffff;
  display: flex;
  flex-direction: column;
}

footer article {
  text-align: center;
  padding: 50px;
}

footer p {
  font-size: 12px;
  color: #666;
}

footer h3 {
  padding: 15px;
  color: #666;
}

footer i {
  width: 50px;
  color: #1259c3;
}

footer .info-legal {
  display: block;
}

.create-form {
  padding: 20px 15px;
}

.control-formulario {
  margin-bottom: 15px;
}

.control-formulario label {
  display: block;
  margin-bottom: 5px;
  font-style: italic;
}

.control {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 2px;
}

/* ESTILOS REGISTER.HTML */

.main-register {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.formulario-regis {
  width: 90%;
  padding-top: 4.5%;
  background-color: #ebebeb;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 5px;
  box-shadow: 0px 1px 15px gray;
}

.input-grupo {
  padding: 3px;
  margin: auto;
  width: 90%;
}

.input-grupo label {
  display: inline-block;
}

.select-file {
  display: flex;
  padding: 0;
  width: 100%;
}

form label {
  font-size: 16px;
}

.font-weight {
  font-weight: lighter;
  margin-left: 5px;
  font-size: 14px;
}

input {
  border: none;
  outline: none;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}

.text {
  width: 100%;
  height: 30px;
}

.input-grupo input,
.input-grupo label {
  margin-bottom: 10px;
}

.input-btn {
  border: 1px solid #707070;
  padding: 5px;
  margin: 5px 5px 0px 0px;
  cursor: pointer;
}

.input-btn:hover {
  background-color: #0022aa;
  transition: 0.6s;
  -webkit-transition: 0.6s;
}

/* ESTILOS LOGIN.HTML */

#login {
  width: 100%;
}

.login-form {
  width: 100%;
  background-color: #c7c7c7;
  border-radius: 5px;
  /*  margin: 20px 0; */
  padding: 5%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  height: 40vh;
}

.input-btn-login {
  width: 100%;
  padding: 2.5%;
  background-color: #1259c3;
  color: #ffff;
  font-weight: lighter;
  cursor: pointer;
}

.input-btn-login:hover {
  background-color: #0022aa;
  transition: 0.6s;
  -webkit-transition: 0.6s;
}

.input-grupo-login {
  font-size: 300;
  width: 100%;
  margin-bottom: 6px;
}

.input-grupo-login input {
  width: 100%;
  padding: 2.5%;
}
/* PRIMER BREAKPOINT 361PX MEDIA QUERY MOBILE */
@media (min-width: 361px) {
  article .product-info {
    display: none;
  }
  nav {
    display: none;
  }
}

/* SEGUNDO BREAKPOINT 768PX MEDIA QUERY LAPTOP */
@media (min-width: 768px) {
  article .product-info {
    display: inline-block;
  }
  nav {
    display: block;
  }
  .logo {
    width: 35%;
  }

  .header-top-bar {
    display: flex;
    justify-content: space-around;
  }

  .copy-header {
    font-weight: 400;
    margin: 10px;
    display: inline-block;
    width: 35%;
    text-align: right;
  }

  .menu-burger {
    display: none;
  }

  .header-navbar {
    display: flex;
    justify-content: space-between;
    font-weight: 300;
  }

  .articles article .description {
    visibility: hidden;
    opacity: 0%;
  }

  .articles article {
    height: 330px;
  }

  .articles article:hover .description {
    visibility: visible;
    opacity: 100%;
    transition: 0.8s;
    -webkit-transition-delay: 0.3s;
  }

  .articles article:hover {
    height: 360px;
    transition: 0.6s;
    -webkit-transition: 0.6s;
  }

  .articles article:hover .product-info i {
    transform: rotate(-90deg);
    bottom: 17%;
    transition: 0.8s;
    -webkit-transition-delay: 0.1s;
  }

  .header-navbar ul {
    display: flex;
    justify-content: space-around;
  }

  .header-navbar li {
    margin: 0 5px;
  }

  main section article {
    position: relative;
  }

  main section article i {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    right: 10%;
    bottom: 9%;
  }
  .header-search {
    position: relative;
    width: 100%;
  }
  .header-search input {
    width: 100%;
  }
  .header-search a {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: block;
    padding: 5px;
    border: none;
    right: 2.5%;
  }
  .articles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .articles article {
    width: 40%;
    border-radius: 5px;
  }

  .price-discount {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .price {
    width: 30%;
    font-size: 1em;
  }

  .discount {
    width: 70%;
    font-size: 0.9em;
  }

  footer div {
    display: flex;
    flex-direction: row;
  }
  .info-legal-container {
    display: block;
    text-align: left;
    padding-left: 55px;
    padding-bottom: 20px;
  }

  /* ESTILOS REGISTER.HTML */
  .formulario-regis {
    width: 70%;
    padding-top: 3.5%;
  }

  .input-grupo {
    width: 90%;
  }

  .register-btn {
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .input-btn {
    font-size: 12px;
    height: 40px;
    font-weight: 100;
    width: 25%;
    outline: none;
    border: none;
    background-color: #1259c3;
    color: #fff;
    font-family: "Roboto";
  }

  form label {
    font-size: 18px;
  }
  .font-weight {
    font-weight: lighter;
    margin-left: 5px;
    font-size: 16px;
  }

  .text {
    width: 100%;
    height: 40px;
  }
  .input-btn {
    font-size: 1.2rem;
  }

  /* ESTILOS LOGIN.HTML */
  .login-form {
    height: 50vh;
  }

  .input-grupo-login input {
    padding: 2%;
  }
}

@media (min-width: 1200px) {
  .logo {
    width: 250px;
  }

  .header-top-bar,
  .header-navbar {
    max-width: 1200px;
    margin: auto;
  }

  .header-top-bar {
    align-items: center;
  }

  .header-navbar {
    margin-top: 20px;
  }
  .header-navbar li {
    margin: 0 10px;
  }

  .header-navbar a {
    font-size: 20px;
  }

  .articles article {
    width: 23%;
  }

  .articles article:hover {
    box-shadow: 0px 5px 20px gray;
  }

  /* ESTILOS REGISTER.HTML */
  .formulario-regis {
    width: 60%;
    padding-top: 2.5%;
  }

  form label {
    font-size: 20px;
  }
  .font-weight {
    font-weight: lighter;
    margin-left: 5px;
    font-size: 18px;
  }

  .text {
    width: 100%;
    height: 45px;
  }

  /* ESTILOS LOGIN.HTML */
  .login-form {
    height: 70vh;
  }

  .login-form input {
    font-size: 1.2rem;
  }

  .input-grupo-login {
    width: 80%;
  }
  .input-grupo-login input {
    padding: 1.5%;
  }

  .input-btn-login {
    padding: 1%;
    width: 80%;
  }
}
